[submodule "setools/selinux"]
	path = setools/selinux
	url = https://github.com/mauricelam/selinux.git
[submodule "hex_viewer/binwalk-rs"]
	path = hex_viewer/binwalk-rs
	url = https://github.com/mauricelam/binwalk
[submodule "ghidra/ghidra-decompiler"]
	path = ghidra/ghidra-decompiler
	url = https://github.com/mauricelam/ghidra-decompiler.git
[submodule "bloaty/bloaty-src"]
	path = bloaty/bloaty-src
	url = https://github.com/mauricelam/bloaty.git
