[submodule "lzfse-wasm/lzfse"]
	path = lzfse-wasm/lzfse
	url = https://github.com/lzfse/lzfse.git
[submodule "setools/selinux"]
	path = setools/selinux
	url = https://github.com/mauricelam/selinux.git
